.linktable tr:not(:first-child):hover{
    background-color: #005000;
}

.linktable tr{
    border: 2px solid grey;
}

.linktable{
    border-collapse: collapse;
	width:100%;
}

.linktable tr:first-child{
    border: none;
}

.linktable tr:first-child > td{
    padding-bottom: 20px;
}

.normaltable tr{
    border: 2px solid grey;
}

.normaltable{
    border-collapse: collapse;
}

.normaltable td{
    padding-right: 20px;
}

.normaltable tr:first-child{
    border: none;
}

.normaltable tr:first-child > td{
    padding-bottom: 20px;
}